/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

:root {
    --cor-primaria: #ffffff;
    --cor-segundaria: #828282;
    --cor-tercearia: #232323;
    --cor-quatenaria: #ededed;
    --cor-quintenaria: #b69d74;
    --cor-sextenaria: rgb(246, 74, 103);
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif; 
}

*{ 
    margin: 0; padding: 0; 
}

body {
    display: grid;
    grid-template-areas: 
    "cabecalho" 
    "conteudo" 
    "rodape";
    overflow: auto;
}

.cabecalho{
    grid-area: "cabecalho";
    background-color: var(--cor-primaria);
    box-shadow: 0 0 0.3rem var(--cor-quatenaria), 0 0 0.6rem var(--cor-quatenaria), 0 0 0.9rem var(--cor-quatenaria);
    padding: 1.3em;
    position: sticky;
    top: 0em; 
}

.cabecalho__img {
    position: fixed;
    top: 0.1rem;
    left: 0.6rem;
}

.cabecalho__menu {
    text-align: center;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 0.938rem;
    font-weight: 600;
    color:var(--cor-tercearia);
    margin: 2em;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quintenaria);
}

.cabecalho__menu__link:active {
    color: var(--cor-sextenaria);
}

.home__capa {
    grid-area: "conteudo";
    background-image: url("../assets/Foto\ fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home__capa__conteudo {
    display: grid;
    grid-template-columns: 50%;
    padding: 20% 0 20% 10%;
    text-align: start;
}

.home__capa__titulo__destaque {
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.home__apresentacao {
    background-image: url(../assets/dots.png);
    padding: 10em 12em;
    color: var(--cor-tercearia);
    text-align: center;
}

.home__apresentacao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 3em;
    font-weight: 700;
}

.home__apresentacao__titulo__conteudo {
    font-family: var(--fonte-primaria);
    font-size: 1.1rem;
    color: var(--cor-tercearia);
    text-align: center;
}

.home__acesse__curriculo {
    background-color: var(--cor-tercearia);
    padding: 5em 8em;
}

.home__apresentacao__curriculo__titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    line-height: 5;
}

.home__curriculo__conteudo{
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-segundaria);
    text-align: justify;
}

.home__botao__curriculo {
    margin: 3em 0;
}

.home__botao__acesse__curriculo {
    font-family: var(--fonte-primaria);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--cor-primaria);
    border: 0.1rem solid var(--cor-primaria);
    background: var(--cor-tercearia);
    text-decoration: none;    
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.home__botao__acesse__curriculo:hover {
    color: var(--cor-tercearia);
    background: var(--cor-primaria);
}

.home__acesse__contatos {
    background-color: var(--cor-quatenaria);
    padding: 5em 8em;
}

.home__acesse__contatos__titulo {
    font-family: var(--fonte-primaria);
    line-height: 5;
}

.home__acesse__contatos__conteudo {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-segundaria);
    text-align: justify;
}

.home__acessos {
 padding: 1em 0;
}

.home__acessos__link {
    font-family: var(--fonte-primaria);
    color: var(--cor-tercearia);
    text-decoration: none;
}

.home__botao__contatos {
    margin: 1em 0 3em;
}

.home__botao__acesse__contatos {
    font-family: var(--fonte-primaria);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--cor-primaria);
    border: 0.1rem transparent;
    background: var(--cor-tercearia);
    text-decoration: none;    
    letter-spacing: 0.1rem;
    padding: 1em;
}

.home__botao__acesse__contatos:hover {
    color: var(--cor-tercearia);
    border: 0.1rem solid var(--cor-tercearia);
    background: transparent;
}

.curriculo__capa{
    background-image: url("../assets/dots.png");
    text-align: center;
}

.curriculo__capa__titulo {
    font-family: var(--fonte-primaria);
    font-size: 4.5rem;
    color: var(--cor-quintenaria);
    padding: 5%; 
}

.curriculo__capa__informacoes {
    display: flex;
    list-style: none;
    font-family: var(--fonte-primaria);
    font-size: 0.9rem;
    font-weight: 500;
    justify-content: center;
    gap: 3em;
}

.curriculo__capa__informacoes__link {
    text-decoration: none;
    color: var(--cor-tercearia);
}

.curriculo__capa__informacoes__link:hover {
    color: var(--cor-quintenaria);
}
.curriculo__capa__informacoes__link:active {
    color: var(--cor-sextenaria);
}

.curriculo__area {
    padding: 5em 7em;
    background-color: var(--cor-primaria);
    color: var(--cor-tercearia);
}

.curriculo {
    padding: 0 0 5em 0;
    justify-content: center;
}

.curriculo__conteudo {
   text-align: center;
}

.curriculo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 700;
}

.curriculo__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 700;
}

.curriculo p {
    font-family: var(--fonte-secundaria);
    font-size: 1em;
}

.curriculo__conteudo__start {
    text-align: justify;
    padding: 1em 2em;
}

.curriculo__img {
    width: 80%;
}

.contato__capa {
    background: linear-gradient(#dddcdc, #f5f5f5);
    padding: 10rem;
}

.contato__capa__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 500; 
    text-align: end;
}

.contato__info {
    padding: 11em;
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
}

.contato__info__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    font-weight: 600; 
}

.contato__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 600; 
}

.contato__info__email {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
}

.contato__info__tel {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;
}

.contato__info__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-tercearia);
    text-decoration: none; 
}

.contato__info__link:hover {
    color: var(--cor-quintenaria);
}
.contato__info__link:active {
    color: var(--cor-sextenaria);
}

.rodape {
    grid-area: "rodape";
    background-color: var(--cor-tercearia);
    display: flex;
    padding: 3em;
    text-align: start;
    justify-content: center;
}

.rodape__fixo{
    padding: 0 10em 0 0;
}

.rodape__coluna{
    padding: 0 4em 0 4em;
}

.rodape__texto{
    font-family: var(--fonte-secundaria);
    color: var(--cor-segundaria);
}

.rodape__titulo{
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria); 
}

.rodape__menu__lista {
    list-style-type: none;
}

.rodape__menu__link{
    font-family: var(--fonte-secundaria);
    color: var(--cor-segundaria);
    text-decoration: none;
}

.rodape__menu__link:hover {
    color: var(--cor-quintenaria);
}

@media screen and (max-width: 1200px) {
    .contato__info {
        display: block;
    }

    .contato__info__email {
        padding: 2em;
    }

    .contato__info__tel {
        padding: 0 2em;
    }

    .contato__info__redes {
        padding: 2em;
    }
}